tasks/buildings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="world_architecture">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="country" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="architect" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="building" maxOccurs="unbounded"/>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="building">
    <xs:complexType>
      <xs:attribute name="year" type="xs:string" use="required"/>
      <xs:attribute name="height" type="xs:string" use="optional"/>
      <xs:attribute name="type" type="xs:string" use="optional"/>
      <xs:attribute name="status" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>