tasks/buildings.dtd

<!ELEMENT world_architecture (country+)>
<!ATTLIST world_architecture version CDATA #REQUIRED>
  
<!ELEMENT country (architect+)>
<!ATTLIST country id ID #REQUIRED>
  
<!ELEMENT architect (building+)>
<!ATTLIST architect name CDATA #REQUIRED>
  
<!ELEMENT building EMPTY>
<!ATTLIST building year CDATA #REQUIRED>
<!ATTLIST building type CDATA #IMPLIED>
<!ATTLIST building height CDATA #IMPLIED>
<!ATTLIST building status CDATA #IMPLIED> 